<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Conecta4proyFin">
        <activity
            android:name=".unirsePartida"
            android:exported="false" />
        <activity
            android:name=".crearPartida"
            android:exported="false" />
        <activity
            android:name=".menuMulti"
            android:exported="false" />
        <activity
            android:name=".activity_instrucciones2"
            android:exported="false" />
        <activity
            android:name=".activity_resultados2"
            android:exported="false" />
        <activity
            android:name=".activity_records2"
            android:exported="false" /> <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Pantalla del tablero -->
        <activity android:name=".TableroActivity" /> <!-- Pantalla de temas -->
        <activity android:name=".TemaActivity" />
    </application>

</manifest>